.pack{
    width: 60%;
    margin: 0 auto;
}
ol {
    list-style: none;
}
.package{
    display: flex;
    width: 100%;
    box-shadow: 0.5px 1px 2px 0.5px rgb(76, 76, 76);
    border-radius: 12px;
    /* height: 28vh; */
    border: none;
    margin: 2em 0;
    background: rgb(251, 250, 250);
    transition: 0.5s all;
    padding: none;
}
.package:hover{
    box-shadow: 2px 4px 8px 2px rgb(76, 76, 76);
}
.package img{
    width: 40%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.package .up{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    justify-content: space-between;
    align-items:center;
    padding: 0;
    color: rgb(96,6,6);
}


.package .up1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: none;
    color: rgb(96,6,6);
}

.package .up1 h1, .up1 p{
    padding: 0 1em;
    margin: 0;
}

.package h1,p{
    margin: 0;
    padding: 0;
}

.package .down{
    margin: auto;
    color: rgb(96,6,6);
}
.down button{
    padding: 1em;
    background: rgb(96,6,6);
    color: white;
    border: none;
    width: 100%;
    margin: 1em 0;
    cursor: pointer;
    text-transform: uppercase;
}
/* button{
    padding: 1em;
    background: rgb(96,6,6);
    color: white;
    border: none;
    width: 15%;
    margin: 1em 55em;
    cursor: pointer;

    text-transform: uppercase;
} */
.down button:hover{
    background: transparent;
    color: rgb(76,76,76);
    border: 1px solid rgb(96,6,6);
}
.included{
    margin:0;
    padding: 0;
}
h1{
    margin: auto;
    width: 80%;
    color: rgb(96,6,6);
}
p{
    margin: auto;
    width: 80%;
    color: rgb(76, 76, 76);
}
.a{
    text-decoration:none;
    color: rgb(96,6,6);
}
 .a:hover{
    text-decoration: underline;
} 
@media(max-width:900px){
    .pack{
        width: 95%;
    }
    .package{
        flex-direction: column;
        padding: 0;   
        justify-content:space-around;
        align-items: flex-start;
    }

    .package .up1{
        flex-direction: row;
    }
    .package .up1{
        justify-content: flex-start;
        padding: 0;
        align-items: flex-start;
        
    }
    .package .up img{
        width: 50%;
        border-top-left-radius: 12px;
        margin-top: 0;
        
    }
    
    .package .down div{
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: space-between;
        flex-basis: 30%;
    }
    .package .down div button{
        flex-basis: 30%;
        padding: 0.3em;
    }
    .package .down div p{
        margin: 2em 1em;
    }
    .included{
        display: none;
    }
}